
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Dosis", arial, tahoma, verdana;
  font-weight: 500;
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

.success {
  background: #78AD42 !important;
}

.timeline-container {
  max-width: 1000px;
  margin: 0 auto;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #1C71A4;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #1C71A4;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg, #timeline .timeline-item .timeline-icon .fa {
  position: relative;
  top: 13px;
  left: 14px;
  font-size: 24px;
  color: #fff;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #1C71A4;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 22px;
}
#timeline .timeline-item .timeline-content p {
  padding-top: 10px;
  padding-bottom: 10px;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #1C71A4;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #1C71A4;
}


@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #1C71A4;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}


/* Animation CSS */

/* icon animation */
.timeline-icon.is-hidden {
  visibility: hidden;
}
.timeline-icon.animate-it {
  visibility: visible;
   -webkit-animation: bounce-1 0.6s;
   -moz-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
}

/* content block animation */
.timeline-content.is-hidden {
  visibility: hidden;
}
.timeline-content.animate-it {
  visibility: visible;
   -webkit-animation: bounce-2 0.6s;
   -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
@media only screen and (min-width: 769px) {
  /* Inverse bounce effect on even content blocks */
.timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}
@media only screen and (max-width: 768px) {
  /* Inverse bounce effect on all content blocks */
.timeline-content.animate-it, .timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}

/* ALL animation types called */

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }f
}
@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}




.rowRWD:nth-child(odd) {
   background: #E0E0E0 !important;
}

/* .stripe { 
  background: #E0E0E0 !important; 
} */

.tableRWD{
  display:table;  /* Defines a Table */
  font-size:17px;
  
  color:#666666;
  margin:10px 0;
  width: 100%;
}

.table-headRWD{
   display: table-header-group; /* Defines a table header group */
}

.table-headRWD .columnRWD{ /* Column inside the table-head */
  background:#393A3A;
  color:#fff;
  border-right:1px solid #fff;
  border-bottom:none;
  text-align: center;!important;
  font-weight: 600;
}

.table-headRWD .column:hover{ /* Column hover inside the table-head */
  background:#222222;
}

.rowRWD {
  display:table-row; /* Defines a table row */
}

.rowRWD .columnRWD:nth-child(1){ /* First column in a row */
  border-left:1px solid #fff;
  text-align: center !important;
}

.rowRWD:last-child .columnRWD{  /* column in a last row */
  border-bottom:none;
}

.columnRWD{
  display:table-cell; /* Defines a table cell */
  padding: 20px;
  
  border-right:1px solid #fff;
  background:#EFF0F1;
  text-align: center;
  min-width: 100px !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
**********************************************
RESPONIVE
**********************************************
*/

@media all and (max-width: 640px){
  .tableRWD,
  .rowRWD,
  .columnRWD,
  .columnRWD:before{
    display:block;  /* Converts a table, table row, table column and table column:before into a block element */
  }
  
  .tableRWD,
  .rowRWD .columnRWD:last-child{
    border-bottom:none;
  }
  
  .table-headRWD{
    position:absolute;  /* Hides table head but not using display none */
    top:-1000em;
    left:-1000em;
  }
  
  .rowHeader {
    background-color: #393A3A !important;
    color: #fff;
    font-weight: bold;
  }
  
  .rowRWD{
    border:1px solid #eeeeee;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    margin:20px 0;
  }
  
  .rowRWD .columnRWD:nth-child(1){ /* first column of the row */
    border-left:none;
  }
  
  .rowRWD .columnRWD:last-child{ /* last column of the row */
    border-right:none;
  }
  
  .rowRWD:last-child .columnRWD,
  .columnRWD{ /* Column in the last row and column */
    
  }
  .columnRWD:first-child{
    background-color: #d8d8d8;
  }
  
  .columnRWD:before{ /* prints the value of data-label attribute before the column data */
    font-weight:bold;
   text-align: center;
    font-size:20px;
    content:" "attr(data-label)" "; /* call the attribute value of data-label and adds a string // */
  }
   .price {
  background: #403e3d;
  font-size: 3.4em;
  font-weight: 700;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}




body{
      font-family: 'Chakra Petch', sans-serif;
    }  

#rcorners1 {
 clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 0);
}
  #rcorners2 {
clip-path: polygon(67% 0, 100% 12%, 100% 97%, 0 100%, 0 0);
}



.img-log{
  
  margin-top: 150px;
  margin-bottom: 50px;
}
.about-card{
  margin-top: 220px;
  margin-right: 150;
}
.about-cars-h5{
  font-size:20px;
}
.about-h1{
  font-family:Roboto;
}

/*Carosel*/
.carosel-card{
  margin-top: 150px;

}

  .h1-text-service {
    font-size: 50px;

  }
  .p-text-card {
    font-size: 18px;
  }
  .btn-corosel{
    color:white;
  }

  /*Home*/

.h5-text-home{
  font-size:20px;
}
.h2-text-home {
  font-size: 30px;
  font-family: Roboto;
}

@media (max-width: 1200px) {

  .h1-text1 {
    font-size: 60px;
    font-family: 'Chakra Petch', sans-serif;

  }
  .h2-text2 {
    font-size: 50px;
    font-family: 'Chakra Petch', sans-serif;

  }
  .h3-text3 {
    font-size: 45px;
  }
  .h4-text4 {
    font-size: 40px;
  }
  .h5-text5 {
    font-size: 35px;
  }
  .h6-text6 {
    font-size: 30px;
  }
}
@media (max-width: 300px) {
  .h1-text1 {
    font-size: 60px;
  }
  .h2-text2 {
    font-size: 50px;
  }
  .h3-text3 {
    font-size: 4px;
  }
  .h4-text4 {
    font-size: 40px;
  }
  .h5-text5 {
    font-size: 35px;
  }
  .h6-text6 {
    font-size: 30px;
  }

}

@media (max-width: 300px) {
.logo-img {
    height: 20px;
    width: 20px;
   }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/*#navbar-1 {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}


.navbar-1 a:hover {
  background-color:black;
}*/


.container-1 {
  
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: none;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-1:hover .img {
  opacity: 0.3;
}

.container-1:hover .middle {
  opacity:0.9;
}
.text {
  font-color:white; 
}

